<!-- Header -->
<%- include("partials/header", {title: "Delete Post"}) %>
<!-- Header END -->
<main id="main">
  <article class="container-lg pt-5 c-pb-64">
    <h2 class="mb-5">Delete: <em class="text-decoration-underline"><%= post.title %></em></h2>
    <div class="">
      <section class="">
        <div class="border rounded-4 p-3 bg-dark-subtle h-100 overflow-hidden d-flex flex-column gap-5 justify-content-between shadow">
          <div>
            <h3><%= post.title %></h3>
            <p class="text-white-50 c-fs-14 m-0 mb-1 d-flex gap-2 align-items-center"><i class="bi bi-pen-fill"></i><%= `${post.first_name} ${post.last_name}` %></p>
            <p class="text-white-50 c-fs-14 m-0 mb-3 d-flex gap-2 align-items-center"><i class="bi bi-calendar3"></i><%= formatDate(post.created_at) %></p>
            <p class="text-body-secondary"><%= post.content %></p>
          </div>
          <!-- Form -->
          <form action="/posts/delete/<%= locals.post.id %>" method="post">
            <div class="d-flex gap-5 justify-content-center">
              <button type="submit" class="btn btn-danger d-flex gap-3 justify-content-center"><i class="bi bi-trash3"></i>Delete post</button>
              <a class="btn btn-light d-flex gap-3 justify-content-center" href="/"><i class="bi bi-x-circle"></i>Cancel</a>
            </div>
          </form>
          <!-- Form END -->
        </div>
      </section>


    </div>
  </article>
</main>

<!-- Footer -->
<%- include("partials/footer") %>
<!-- Footer END -->