<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
  <% if (locals.notification) { %>
  <div class="alert alert-<%= locals.status === 'success' ? 'success' : 'danger' %> alert-dismissible text-center fade show" role="alert">
    <%=  locals.notification %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <% } %>

  <% if (currentUser?.first_name) { %>
  <h1>Hello, <%= currentUser.first_name %></h1>
  <a href="/users/profile">Profile</a>

  <form action="/auth/logout" method="post">
    <input type="submit" value="Logout">
  </form>

  <a href="/posts/create">Create a post</a>
  <% } else { %>
  <h1>Home Page</h1>
  <a href="/auth/login">Login</a>
  <% } %>

  <div class="mt-5">
    <% posts.forEach(post => { %>
    <div class="mb-3">
      <h3><%= post.title %></h3>
      <% if (currentUser?.is_member) { %>
      <p><strong>Author: </strong><%= `${post.first_name} ${post.last_name}` %></p>
      <p><strong>Posted: </strong><%= formatDate(post.created_at) %></p>
      <% } %>
      <p><%= post.content %></p>

      <% if (post.user_id === currentUser?.id) { %>
      <!-- Only the member of a post can see edit button -->
      <a class="btn btn-success" href="/posts/update/<%= post.id %>">Edit</a>
      <% } %>

      <% if (currentUser?.is_admin || post.user_id === currentUser?.id) { %>
      <!-- Show delete button to admins and to owner of a post -->
      <a class="btn btn-danger" href="/posts/delete/<%= post.id %>">Delete</a>
      <% } %>
    </div>
    <% }) %>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>

</html>