 <!-- Header -->
 <%- include("partials/header", {title: "Home"}) %>
 <!-- Header END -->

 <% if (currentUser?.first_name) { %>

 <% } else { %>

 <% } %>

 <section class="py-5 d-flex align-items-center justify-content-center c-h-400">
   <div class="container-lg d-flex flex-column align-items-start gap-3">
     <h1 class="c-fs-56 text-body-secondary">Welcome to TOP private clubhouse</h1>
     <em class="display-6 text-white-50">Where Great Minds Meet in Private.</em>
     <a class="btn c-bg-success-1 c-btn-cta" href="/posts/create">Say something</a>
   </div>
 </section>

 <main id="main">
   <article class="container-lg pt-5 c-pb-64 border-top ">
     <h1 class="mb-5">All Posts</h1>
     <div class="row g-3 align-items-stretch">
       <% posts?.forEach(post => { %>
       <section class="col-sm-6 col-xl-4">
         <div class="border rounded-4 p-3 bg-dark-subtle h-100 overflow-hidden d-flex flex-column justify-content-between shadow">
           <div>
             <h3><%= post.title %></h3>
             <% if (currentUser?.is_member) { %>
             <p class="text-white-50 c-fs-14 m-0 mb-1 d-flex gap-2 align-items-center"><i class="bi bi-pen-fill"></i><%= `${post.first_name} ${post.last_name}` %></p>
             <p class="text-white-50 c-fs-14 m-0 mb-3 d-flex gap-2 align-items-center"><i class="bi bi-calendar3"></i><%= formatDate(post.created_at) %></p>
             <% } %>
             <p class="text-body-secondary"><%= post.content.slice(0, 150) %>...</p>

           </div>
           <div class="btn-group gap-2">
             <a class="btn btn-outline-info d-flex gap-3 justify-content-center" href="/posts/<%= post.id %>"><i class="bi bi-text-left"></i><span class="d-sm-none d-md-block">More</span></a>
             <% if (post.user_id === currentUser?.id) { %>
             <!-- Only the member of a post can see edit button -->
             <a class="btn btn-outline-warning d-flex gap-3 justify-content-center" href="/posts/update/<%= post.id %>"><i class="bi bi-pencil-square"></i><span class="d-sm-none d-md-block">Edit</span></a>
             <% } %>
             <% if (currentUser?.is_admin || post.user_id === currentUser?.id) { %>
             <!-- Show delete button to admins and to owner of a post -->
             <a class="btn btn-outline-danger d-flex gap-3 justify-content-center" href="/posts/delete/<%= post.id %>"><i class="bi bi-trash3"></i><span class="d-sm-none d-md-block">Delete</span></a>
             <% } %>
           </div>
         </div>
       </section>
       <% }) %>
     </div>
   </article>
 </main>
 <!-- Footer -->
 <%- include("partials/footer") %>
 <!-- Footer END -->