<% 
<!-- By default this form is for creating a post -->
let formAction = "/create"

<!-- locals.post may have data if error occured during post submission or if this is an update form -->
const post = locals.post;

let pageTitle = "Create Post"

<!-- If post.id exists it is an update form, else it is a create post form -->
if (post?.id) {
    formAction = `/update/${post.id}`;
    pageTitle = "Update Post";
}%>
<!-- Header -->
<%- include("partials/header", {title: pageTitle}) %>
<!-- Header END -->

<main id="main">
  <article class="container-sm p-sm-5">
    <!-- Form -->
    <h2 class="text-center mb-5">Add a New Post</h2>
    <div class="d-flex justify-content-center">
      <form class="w-100 c-w-md-50 d-flex flex-column gap-4" action="/posts<%= formAction %>" method="post">
        <div>
          <label for="title" class="form-label">Title <sup>*</sup></label>
          <input type="text" id="title" class="form-control" name="title" value="<%= post?.title %>" placeholder="e.g. Free Palestine" required>
          <%- include("partials/form-error-msg", {input_name: "title"})%>
        </div>
        <div>
          <label for="content" class="form-label">Content <sup>*</sup></label>
          <textarea id="content" class="form-control" name="content" placeholder="Write your text ..." required><%= post?.content %></textarea>
          <%- include("partials/form-error-msg", {input_name: "content"})%>
        </div>

        <div>
          <button type="submit" class="btn btn-primary d-flex gap-2"><i class="bi bi-vector-pen"></i> Submit</button>
        </div>
      </form>
    </div>
    <!-- Form END -->
  </article>
</main>

<!-- Footer -->
<%- include("partials/footer") %>
<!-- Footer END -->