<!-- Header -->
<%- include("partials/header", {title: "Signup"}) %>
<!-- Header END -->

<main id="main">
  <article class="container-sm p-sm-5">
    <!-- Form -->
    <h2 class="text-center mb-5">Sign Up</h2>
    <div class="d-flex flex-column align-items-center">
      <form class="w-100 c-w-md-50 d-flex flex-column gap-4" action="/auth/signup" method="post">
        <div>
          <label for="first_name" class="form-label">First Name <sup>*</sup></label>
          <input type="text" id="first_name" class="form-control" name="first_name" value="<%= locals.formValues?.first_name %>" placeholder="e.g. John" required>
          <%- include("partials/form-error-msg", {input_name: "first_name"})%>
        </div>
        <div>
          <label for="last_name" class="form-label">Last Name <sup>*</sup></label>
          <input type="text" id="last_name" class="form-control" name="last_name" value="<%= locals.formValues?.last_name %>" placeholder="e.g. Doe" required>
          <%- include("partials/form-error-msg", {input_name: "last_name"})%>
        </div>
        <div>
          <label for="email" class="form-label">Email <sup>*</sup></label>
          <input type="email" id="email" class="form-control" name="email" value="<%= locals.formValues?.email %>" placeholder="e.g. test.example@outlook.com" required>
          <%- include("partials/form-error-msg", {input_name: "email"})%>
        </div>
        <div>
          <label for="password" class="form-label">Password <sup>*</sup></label>
          <input type="password" id="password" class="form-control" name="password" value="<%= locals.formValues?.password %>" placeholder="Enter your password" required>
          <%- include("partials/form-error-msg", {input_name: "password"})%>
        </div>
        <div>
          <label for="confirm_password" class="form-label">Confirm Paswword <sup>*</sup></label>
          <input type="password" id="confirm_password" class="form-control" name="confirm_password" placeholder="Repeat your password" required>
          <%- include("partials/form-error-msg", {input_name: "confirm_password"})%>
        </div>

        <div>
          <button type="submit" class="btn btn-primary d-flex gap-2"><i class="bi bi-check-circle"></i>Sign Up</button>
        </div>
      </form>
      <div class="mt-4 w-100 c-w-md-50">
        <p>Already have an account? <a href="/auth/login" class="text-decoration-none">Log in here</a>.</p>
      </div>
    </div>
  </article>
</main>
<!-- Footer -->
<%- include("partials/footer") %>
<!-- Footer END -->