<!-- Header -->
<%- include("partials/header", {title: `${currentUser.first_name} ${currentUser.last_name}`}) %>
<!-- Header END -->

<main id="main">
  <article class="container-sm p-sm-5">
    <!-- Form -->
    <h2 class="display-2 mb-5"><%= `${currentUser.first_name} ${currentUser.last_name}` %></h2>


    <div class="mb-5">
      <strong>Email: </strong><%= currentUser.email %></p>
      <div>
        <% if (currentUser.is_admin) { %>
        <span class="btn btn-primary c-cursor-default">Admin</span>
        <% } %>
        <% if (currentUser.is_member) { %>
        <span class="btn btn-secondary c-cursor-default">Member</span>
        <% } %>
      </div>
    </div>

    <% if (!currentUser.is_admin) { %>
    <div class="d-flex flex-column ">
      <!-- Grant admin form -->
      <form class="w-100 c-w-md-50 d-flex align-items-end gap-2" action="/users/grant-admin" method="post">
        <div class="flex-grow-1 flex-shrink-0">
          <label for="admin_key" class="form-label">Admin Key <sup>*</sup></label>
          <input type="text" id="admin_key" class="form-control" name="admin_key" placeholder="e.g. Enter admin key" required>
          <%- include("partials/form-error-msg", {input_name: "admin_key"})%>
        </div>
        <button class="btn btn-sm btn-primary flex-grow-0 flex-shrink-1" type="submit">Submit</button>
      </form>
      <% } %>

      <% if (!currentUser.is_admin && !currentUser.is_member) { %>
      <!-- Grant membership form -->
      <form class="w-100 c-w-md-50 d-flex align-items-end gap-2" action="/users/grant-membership" method="post">
        <div class="flex-grow-1 flex-shrink-0">
          <label for="member_key" class="form-label">Member Key <sup>*</sup></label>
          <input type="text" id="member_key" class="form-control" name="member_key" placeholder="e.g. Enter membership key" required>
          <%- include("partials/form-error-msg", {input_name: "member_key"})%>
        </div>
        <button class="btn btn-sm btn-primary flex-grow-0 flex-shrink-1" type="submit">Submit</button>
      </form>
      <% } %>
    </div>
  </article>
</main>
<!-- Footer -->
<%- include("partials/footer") %>
<!-- Footer END -->